parameters:
	level: 8
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
		- test
	bootstrapFiles:
		- test/bootstrap.php
	ignoreErrors:
		- '#Parameter \#1 \$string of method Rebelo\\At\\QRCode\\Builder::splitFieldValue\(\) expects string, string\|false given#'
	excludes_analyse:
		- test/bootstrap.php
		- test/Base.php
